<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - Your Ecommerce Store</title>
  <link rel="stylesheet" href="homepage.component.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
  <section class="banner">
    <h2 style="font-weight: bold;font-size: 60px;">WELCOME TO J-MART</h2>
    <p>Makes shopping easier!</p>
  </section>
    
  <main>
   
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="https://t3.ftcdn.net/jpg/02/41/43/18/360_F_241431868_8DFQpCcmpEPVG0UvopdztOAd4a6Rqsoo.jpg" class="d-block w-100" alt="..." style="height: 300px;width: 1500px;">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="https://i.pinimg.com/1200x/8f/c4/69/8fc46935246069c1b0d9dcd33c1bcce5.jpg" class="d-block w-100" alt="..." style="height: 300px;width: 1500px;">
        </div>
       
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev" style="height: 300px;width: 1500px;">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <h5 style="color: black; font-weight: bold;font-size: 25px;font-family: Georgia, 'Times New Roman', Times, serif;">Offers of the day..</h5>
    <div class="container">
      <div class="row">
         @for (item of districts; track $index){
      <div class="col-sm-2" style="margin-right: 25px;">
      <div class="card" style="width: 13rem;">
        <img src={{item.image}} class="card-img-top" alt="..." style="height:180px;width:180px">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <button class="card-text"style="color: white;font-size: 17px; background-color: red;">{{item.text}}</button>
        </div>
      </div>
      </div>
         }
      </div>
      </div>
      
  </main>
  <app-footbar></app-footbar>
</body>
</html>

