/* Resetting Default Margin and Padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    font-family: 'Lobster', sans-serif;
  }
  
  h2{
    color: black;
    text-shadow: 1px 1px violet;
    margin-top: 0px;
    font-size: 50px;
  }
  header {
    background-color: gray;
    padding: 20px;
  }
  
  header h1 {
    color: #333;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  main {
    padding: 20px;
  }
  
  .banner {
    text-align: center;
    color: black;
    padding: 20px ;
    margin-top: 0;
  }
  
  .banner h2 {
    margin-bottom: 10px;
  }
  
  .featured-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  
  .product {
    margin-bottom: 1px;
    text-align: center;
    padding: 1px;
    border-radius: 5px;
    width: 100%;
  }
  
  .carousel-item img {
    width: 100%;
    height: 500px;
  }
  
  footer {
    background-color: gray;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
    margin: 0px;

  }
  nav{
    background-color: lightblue;
  }
  