.navbar{
    background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.navbar ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    overflow: hidden;
    
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .navbar li a:hover {
    background-color: grey;
  }
  
  /* Animation */
  .navbar li a {
    position: relative;
    animation: slideIn 0.5s forwards;
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-50%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  